<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin_page.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap" rel="stylesheet">
    <title>Admin</title>
</head>

<body>
    <h1>Welcome to admin page</h1>
    <div class="nav_bar">
        <ul class="menu_list">
            <li class="item"><a href="/display-alluser">User</a></li>
            <li class="item"><a href="/display-allalbum">Album</a></li>
            <li class="item"><a href="/display-allsong">Song</a></li>
            <li class="item"><a href="#">Artist</a></li>
            <li class="item"><a href="#">Favourite</a></li>

        </ul>
    </div>
    <h1><a href="/home">Return to Homepage</a></h1>
    <table>

    </table>
</body>

</html>