<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create Artist</h1>
    <form action="/post-artist" method="POST" enctype="multipart/form-data">
        <label for="nameArtist">Name Artist:</label><br>
        <input type="text" id="nameArtist" name="name"><br>
        <label for="imgArtistFile">Image Artist:</label><br>
        <input type="file" id="imgArtistFile" name="imgArtistFile"><br><br>
        <input type="submit" value="Submit">
</body>
</html>